@charset "UTF-8";

/*estilos para desktop*/

header menu {
   position: relative;
   left: 9%;
    
}

.conteudo {
    top: 45%;
    height: 1050px;

   
}


footer {
    position: relative;
    top: 13%;
}